@font-face {
  font-family: "geometria";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Geometria.eot");
  src: url("../fonts/Geometria.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria.woff") format("woff"), url("../fonts/Geometria.ttf") format("truetype");
}

@font-face {
  font-family: "geometria";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Geometria-Bold.eot");
  src: url("../fonts/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold.ttf") format("truetype");
}

::-webkit-input-placeholder {
  color: #666;
}

:-ms-input-placeholder {
  color: #666;
}

::-ms-input-placeholder {
  color: #666;
}

::placeholder {
  color: #666;
}

::-moz-selection {
  background-color: orange;
  color: #fff;
}

::selection {
  background-color: orange;
  color: #fff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-size: 0.83vw;
  min-width: 320px;
  position: relative;
  font-family: "geometria", sans-serif;
  overflow-x: hidden;
  color: #000000;
  margin: 0;
}

body input, body textarea {
  border: #666 1px solid;
  outline: none;
}

body input:focus:required:invalid, body textarea:focus:required:invalid {
  border-color: red;
}

body input:required:valid, body textarea:required:valid {
  border-color: green;
}

.main {
  width: 100%;
  height: 100vh;
  background-image: url("/app/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.between {
  width: 100%;
  height: 37.2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/app/img/betweenbg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.between.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52.13vw;
  height: 21.75vh;
}

.between__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.between__content__icon {
  width: 165px;
  height: 165px;
  margin-bottom: 3vh;
}

.between__content__icon img {
  width: 17px;
  height: 13px;
}

.between__content h2 {
  text-transform: uppercase;
  font-size: 1.82vw;
  font-weight: 700;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #cdcdcc;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 78.5vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-context: center;
}

.header__wrap .logo {
  background-image: url("/app/img/logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-bottom: -1.7vh;
  width: 15.83vw;
  height: 5.78vw;
}

.header__wrap__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 6vh;
  width: 60vw;
  padding-top: 1vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3.5vh;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  height: 3vh;
  width: 26vw;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.header__menu__item {
  font-size: 0.93vw;
  font-weight: 300;
}

.header__menu__item__link {
  color: #000000;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25.85vw;
  height: 4.7vh;
  margin: 0;
}

.header__contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 14vw;
  font-size: 0.93vw;
}

.header__contact__item .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #000000;
  border-radius: 50%;
  height: 2.29vw;
  width: 2.29vw;
}

.header__contact__item .icon img {
  width: 0.78vw;
  height: 0.78vw;
}

.header__contact__item .contact {
  width: 9.5vw;
  font-size: 1vw;
  font-weight: 700;
}

.property {
  width: 100%;
  height: 120vh;
  padding: 2.2vh;
}

.property__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  height: 113vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4.8vw;
}

.property__vertical-line {
  height: 6.5vh;
  border: 1px solid #1b1b1b;
  margin-bottom: 2vh;
}

.property__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.03vw;
  margin-bottom: 2vh;
}

.property__title span {
  font-size: 1.6vh;
  font-weight: 400;
}

.property__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  height: 78vh;
}

.property__content__text {
  width: 17vw;
}

.property__content__text p {
  width: auto;
  height: 60vh;
  font-size: 19px;
  font-weight: 400;
  margin-right: 3vw;
  color: #000000;
  font-family: Geometria;
  line-height: 1.25;
}

.property__content__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
}

.property__content__sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 108px;
  margin-top: 2vh;
  width: 52vw;
  height: 72vh;
}

.property__content__slider {
  display: block;
  width: 30vw;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.property__content__chair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 108px;
  margin-top: 2vh;
  background-repeat: no-repeat;
  background-position: 40% 50%;
  width: 52vw;
  height: 72vh;
}

.property__content__chair.truly {
  background-image: url("/app/img/truly.png");
  background-size: 40%;
}

.property__content__chair.ergopro {
  background-image: url("/app/img/ergopro.png");
  background-size: 50%;
}

.property__content__chair .side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.property__content__chair .side.right {
  width: 28vw;
  height: 72vh;
}

.property__content__chair .side.left {
  width: 24vw;
  height: 60vh;
  margin-top: 2vh;
}

.property__content__chair .side .price {
  display: inline;
  width: 22.62vw;
  height: 5.33vh;
  padding-left: 11vw;
  color: #20418c;
  font-family: Geometria;
  font-size: 2.03vw;
  font-weight: 500;
}

.property__content__chair__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 17.2vh;
  margin-top: 1vh;
}

.property__content__chair__item.right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 26vw;
}

.property__content__chair__item--left {
  width: 26vw;
}

.property__content__chair__item .square {
  width: 7px;
  height: 7px;
  background-color: #000000;
}

.property__content__chair__item .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 13vw;
  height: auto;
}

.property__content__chair__item .description h3 {
  width: 20vw;
  line-height: 1;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 0.5vh 0;
}

.property__content__chair__item .description p {
  width: 13vw;
  height: 3.2vh;
  font-weight: 400;
  margin: 0;
}

.property__content__chair__item hr {
  width: 7.8vw;
}

.property__content__galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15.5vw;
  height: 66.6vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.property__content__galery__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15.5vw;
  height: 21.6vh;
  border: 1px solid #626262;
}

.property__content__galery__item a img {
  width: 6.3vw;
  height: 18.7vh;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2vh;
  width: 1vh;
}

.circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff;
}

.circle--xlarge {
  border-radius: 50%;
  position: relative;
  height: 160px;
  width: 160px;
}

.circle--large {
  border-radius: 50%;
  position: relative;
  height: 2.6vw;
  width: 2.6vw;
}

.circle--small {
  border-radius: 50%;
  position: absolute;
  height: 1.56vw;
  width: 1.56vw;
}

.circle--solid {
  background-color: #ffffff;
  border-radius: 50%;
  height: 0.52vw;
  width: 0.52vw;
}

.circle--opacity {
  background-color: #ffffff;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  opacity: 0.3;
}

.dreams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 110vh;
  background-image: url("/app/img/dreams-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2.2vh;
}

.dreams__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 77vh;
  width: 64.5vw;
  margin: 0 4.8vw;
}

.dreams__vertical-line {
  height: 6.5vh;
  border: 1px solid #1b1b1b;
  margin-bottom: 2vh;
}

.dreams__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2vh;
}

.dreams__title h2 {
  font-size: 2vw;
  font-weight: 700;
  text-transform: uppercase;
}

.dreams__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 22vh;
  width: 30vw;
  height: 30vw;
}

.dreams__content__circle--big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30vw;
  height: 30vw;
  border: 2px solid #000000;
  border-radius: 50%;
}

.dreams__content__circle--big .div2 {
  position: absolute;
  width: 2.6vw;
  height: 2.6vw;
  background-color: #000000;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.3vh;
}

.dreams__content__circle--big .div3 {
  width: 15.6vw;
  height: 114px;
  font-family: Geometria;
  font-size: 1.8vh;
  font-weight: 700;
  line-height: 1.1;
}

.dreams__content__circle--solid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 27vw;
  height: 27vw;
  border-radius: 50%;
  background-color: #fff;
}

.dreams__content__circle--solid img {
  height: 35vh;
  width: 19vw;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 68vh;
  background-image: url("/app/img/bg-info.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.info__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 91vw;
  height: 49.4vh;
}

.info__title {
  width: 40vw;
  color: #ffffff;
  font-family: Geometria;
  font-size: 1.8vw;
  font-weight: 700;
  text-transform: uppercase;
}

.info__steps {
  width: 66.6vw;
  height: 8.7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__steps .line {
  width: 27vw;
  border: 1px solid #ffffff;
}

.info__steps__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff;
  width: 4.16vw;
  height: 4.16vw;
  border-radius: 50%;
}

.info__steps__circle--solid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff;
  width: 3.4vw;
  height: 3.4vw;
  border-radius: 50%;
  background-color: #fff;
  font-size: 2.1vw;
  font-weight: 700;
}

.info__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 24.9vh;
  width: 91vw;
}

.info__blocks__block {
  height: 24.9vh;
  width: 29.2vw;
  border: 2px solid #ffffff;
  padding: 2.3vh 1.3vw;
  color: #ffffff;
}

.info__blocks__block p {
  margin-bottom: 0.3vh;
  font-size: 1.1vw;
  font-weight: 400;
}

.location {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.location__wrap {
  width: 84.16vw;
  height: 82vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.2vh;
}

.location__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 64.79vw;
  height: 6.7vh;
}

.location__title span {
  width: 24.35vw;
  height: 2vh;
  font-size: 0.93vw;
  font-weight: 400;
}

.location__title h2 {
  width: 64.79vw;
  height: 3.14vh;
  font-size: 2.03vw;
  font-weight: 700;
  text-transform: uppercase;
}

.location__info {
  height: 52.12vh;
  width: 84.16vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15vh;
}

.location__info__map {
  height: 50.16vh;
  width: 35.41vw;
  background-image: url("/app/img/Ukraine.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}

.location__info__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 25vh;
}

.location__info__adress .contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1.6vw;
}

.location__info__adress .contact__info .email {
  width: 239px;
  height: 22px;
  color: #000000;
  font-family: Geometria;
  font-size: 23px;
  font-weight: 700;
}

.location__info__adress ul {
  list-style: disc;
}

.location__info__adress .adress {
  font-size: 0.83vw;
  font-weight: 600;
  margin-bottom: 1vh;
}

.location__info__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 22.6vw;
  height: 52.12vh;
  background-color: #fbf0e1;
}

.location__info__form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 47.31vh;
  width: 16.56vw;
}

.location__info__form__wrap .title {
  width: 16.45vw;
  height: 1.85vh;
  font-size: 1.35vw;
  font-weight: 700;
  text-transform: uppercase;
}

.location__info__form__wrap p {
  width: 15.26vw;
  height: 3.51vh;
  font-size: 0.88vw;
  font-weight: 400;
}

.location__info__form__wrap .inputext span {
  margin: 0;
  padding: 0;
}

.location__info__form__wrap .inputext input {
  border: none;
  width: 18.38vw;
  height: 4.81vh;
  background-color: #ffffff;
  font-size: 1.2vw;
}

.location__info__form__wrap .inputext textarea {
  border: none;
  width: 18.38vw;
  height: 10.64vh;
}

.no-display {
  display: none;
}

.footer {
  width: 100%;
  height: 14.35vh;
  background-color: #000000;
}

.footer__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 7.21vh;
  border-bottom: 2px solid white;
  padding-top: 1vh;
}

.footer-logo {
  height: 8.21vh;
  width: 17vw;
  color: #ffffff;
}

.footer-logo img {
  height: 8.21vh;
  width: 17vw;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 3.65vw;
  background-color: black;
}

.footer-bottom p {
  color: white;
  font-size: 0.625vw;
}

.vertical__line {
  height: 6.5vh;
  border: 1px solid #1b1b1b;
  margin-bottom: 2vh;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-responsive.img-width {
  width: 100%;
}

.beige {
  background-color: #faebd7;
}

.white {
  color: #ffffff;
}

.text-center {
  text-align: center;
}

.btn1 {
  width: 9.63vw;
  height: 4.8vh;
  background-color: #000000;
  color: #ffffff;
  font-size: 0.8vw;
  font-weight: 700;
}

b, strong {
  font-weight: bold;
}

@media screen and (max-width: 1750px) {
  .header__contact {
    width: 25.85vw;
    padding: 0;
  }
  .property__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 93vh;
  }
  .property__content__chair {
    width: 60vw;
    background-position: 27% 50%;
  }
  .property__content__chair .side.left {
    width: 30vw;
  }
  .property__content__text {
    margin: 2vw;
    width: 85vw;
    height: 15vh;
  }
  .property__title {
    margin: 0;
  }
  .property__title h2 {
    margin: 0;
  }
  .property__vertical-line {
    margin-bottom: 0.2vh;
  }
  .property__content__chair.truly {
    background-size: 45%;
  }
  .property__content__chair.ergopro {
    background-size: 45%;
  }
}

@media screen and (max-width: 1550px) {
  .property__content__chair.truly {
    background-size: 40%;
  }
  .property__content__chair.ergopro {
    background-size: 50%;
  }
}
/*# sourceMappingURL=main.css.map */