@import "vars"
@import "fonts"


::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff
ul
	list-style-type: none

a
	text-decoration: none
	

body
	font-size: 0.83vw
	min-width: 320px
	position: relative
	font-family: $default-font
	overflow-x: hidden
	color: $text
	margin: 0
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
.main
	width: 100%
	height: 100vh
	background-image: url("/chairs/app/img/bg.jpg")
	background-repeat: no-repeat
	background-position: center
	background-size: cover
.between
	width: 100%
	height: 37.2vh
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	background-image: url("/chairs/app/img/betweenbg.jpg")
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	&.wrap
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		width: 52.13vw
		height: 21.75vh
	&__content
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		color: #ffffff
		&__icon
			width: 165px
			height: 165px
			margin-bottom: 3vh
		h2
			text-transform: uppercase
			font-size: 1.82vw
			font-weight: 700
	
.header
	width: 100%
	display: flex
	justify-content: center
	border-bottom: 1px solid #cdcdcc
	&__wrap
		display: flex
		width: 78.5vw
		justify-content: space-between
		align-context: center
		.logo
			background-image: url("/chairs/app/img/logo.png")
			background-repeat: no-repeat
			background-size: 100%
			background-position: center
			margin-bottom: -1.7vh
			width: 15.83vw
			height: 5.78vw
				
		&__menu
			display: flex
			justify-content: space-between
			height: 6vh
			width: 60vw
			padding-top: 1vh
			align-items: center
			padding-top: 3.5vh
	&__menu
		display: flex
		justify-content: space-between
		align-self: center
		height: 3vh
		width: 26vw
		font-weight: 300
		text-transform: uppercase
		
		margin: 0
		&__item
			font-size: 0.93vw
			font-weight: 300
			&__link
				color: $text
	&__contact
		display: flex
		width: 25.85vw
		height: 4.7vh
		margin: 0
		&__item
			display: flex
			justify-content: space-between
			align-items: center
			width: 14vw
			font-size: 0.93vw
			.icon
				display: flex
				align-items: center
				justify-content: center
				border: 1px solid #000000
				border-radius: 50%
				height: 2.29vw
				width: 2.29vw
				img
					width: 0.78vw
					height: 0.78vw
			.contact
				width: 9.5vw	
				font-size: 1vw
				font-weight: 700
.property
	width: 100%
	height: 120vh
	padding: 2.2vh
	&__wrap
		display: flex
		width: 90vw
		height: 113vh
		flex-direction: column
		align-items: center
		margin: 0 4.8vw
	&__vertical-line
		height: 6.5vh
		border: 1px solid #1b1b1b
		margin-bottom: 2vh
	&__title
		display: flex
		flex-direction: column
		align-items: center
		font-size: 2.03vw
		margin-bottom: 2vh
		span
			font-size: 1.6vh
			font-weight: 400
	&__content
		display: flex
		width: 90vw
		height: 78vh
		&__text
			width: 17vw
			p
				width: auto
				height: 60vh
				font-size: 19px
				font-weight: 400
				margin-right: 3vw
				color: #000000
				font-family: Geometria
				line-height: 1.25
		&__wrap
			display: flex
			height: 70vh

		&__chair
			display: flex
			margin-right: 108px
			margin-top: 2vh
			background-repeat: no-repeat
			background-position: 40% 50%
			width: 52vw
			height: 72vh
			&.truly
				background-image: url("/chairs/app/img/truly.png")
				background-size: 40%
				
			&.ergopro
				background-image: url("/chairs/app/img/ergopro.png")
				background-size: 50%
			.side
				display: flex
				flex-direction: column
				&.right
					width: 28vw
					height: 72vh		
				&.left
					width: 24vw
					height: 60vh
					margin-top: 2vh
				.price
					display: inline
					width: 18.62vw
					height: 5.33vh
					padding-left: 11vw 
					color: #20418c
					font-family: Geometria
					font-size: 2.03vw
					font-weight: 500
			&__item
				display: flex
				align-items: center
				height: 17.2vh
				margin-top: 1vh
				&.right
					flex-direction: row-reverse
					width: 26vw
					
				&--left
					width: 26vw
				.square
					// Style for "Rectangle"
					width: 7px
					height: 7px
					background-color: #000000
				.description
					display: flex
					flex-direction: column
					width: 13vw
					height: auto
					
					h3
						width: 20vw
						line-height: 1
						font-size: 18px
						font-weight: 700
						text-transform: uppercase
						margin: 0 0 0.5vh 0
					p										// Style for "Подголовни"
						// Style for "благодаря"
						width: 13vw
						height: 3.2vh
						font-weight: 400
						margin: 0
				hr
					width: 7.8vw
			
		
				
		&__galery
			display: flex
			flex-direction: column
			width: 15.5vw
			height: 66.6vh
			justify-content: space-between
			&__item
				display: flex
				align-items: center
				justify-content: center
				width: 15.5vw
				height: 21.6vh
				border: 1px solid #626262
				a
					img
						// Style for "Layer 16"
						width: 6.3vw
						height: 18.7vh

				
.description
	display: flex
	flex-direction: column
	justify-content: center
	height: 2vh
	width: 1vh
.circle
	display: flex
	justify-content: center
	align-items: center
	border: 1px solid #ffffff
	&--xlarge
		border-radius: 50%
		position: relative
		height: 160px
		width: 160px
	&--large
		border-radius: 50%
		position: relative
		height: 2.6vw
		width: 2.6vw
	&--small
		border-radius: 50%
		position: absolute
		height: 1.56vw
		width: 1.56vw
	&--solid
		background-color: #ffffff
		border-radius: 50%
		height: 0.52vw
		width: 0.52vw
	&--opacity
		background-color: #ffffff
		border-radius: 50%
		height: 150px
		width: 150px
		opacity: 0.3

.dreams
	display: flex
	flex-direction: column
	align-items: center
	width: 100%
	height: 110vh
	background-image: url("/chairs/app/img/dreams-bg.png")
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	padding: 2.2vh
	&__wrap
		display: flex
		flex-direction: column
		align-items: center
		height: 77vh
		width: 64.5vw
		margin: 0 4.8vw
	&__vertical-line
		
		height: 6.5vh
		border: 1px solid #1b1b1b
		margin-bottom: 2vh
	&__title
		display: flex
		flex-direction: column
		align-items: center
		margin-bottom: 2vh
		h2
			font-size: 2vw
			font-weight: 700
			text-transform: uppercase
	&__content
		display: flex
		justify-content: center
		align-items: center
		margin-top: 22vh
		width: 30vw
		height: 30vw
		&__circle
			&--big
				display: flex
				position: relative
				justify-content: center
				align-items: center
				width: 30vw
				height: 30vw
				border: 2px solid #000000
				border-radius: 50%
				.div2
					position: absolute
					width: 2.6vw
					height: 2.6vw
					background-color: #000000
					border-radius: 50%
					background-repeat: no-repeat
					background-position: center
					background-size: contain
				.div3
					// Style for "Максимальн"
					width: 15.6vw
					height: 114px
					font-family: Geometria
					font-size: 1.8vh
					font-weight: 700
					line-height: 1.1
							
			&--solid
				display: flex
				justify-content: center
				align-items: center
				width: 27vw
				height: 27vw
				border-radius: 50%
				background-color: #fff
				img
					height: 35vh
					width: 19vw

.info
	display: flex
	justify-content: center
	align-items: center
	width: 100%
	height: 68vh
	background-image: url("/chairs/app/img/bg-info.jpg")
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	&__wrap
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: center
		width: 91vw
		height: 49.4vh
	&__title
		// Style for "Это кресло"
		width: 40vw
		color: #ffffff
		font-family: Geometria
		font-size: 1.8vw
		font-weight: 700
		text-transform: uppercase
	&__steps
		width: 66.6vw
		height: 8.7vh
		display: flex
		justify-content: space-between
		align-items: center
		.line
			// Style for "Shape 6"
			width: 27vw
			border: 1px solid #ffffff
		&__circle
			display: flex
			justify-content: center
			align-items: center
			border: 1px solid #ffffff
			width: 4.16vw
			height: 4.16vw
			border-radius: 50%
			&--solid
				display: flex
				justify-content: center
				align-items: center
				border: 1px solid #ffffff
				width: 3.4vw
				height: 3.4vw
				border-radius: 50%
				background-color: #fff
				font-size: 2.1vw
				font-weight: 700
	&__blocks
		display: flex
		justify-content: space-between
		height: 24.9vh
		width: 91vw	
		&__block
			height: 24.9vh
			width: 29.2vw
			border: 2px solid #ffffff
			padding: 2.3vh 1.3vw
			color: #ffffff
			p
				margin-bottom: 0.3vh
				font-size: 1.1vw
				font-weight: 400
.location
	width: 100%
	height: 100vh
	display: flex
	flex-direction: column
	align-items: center
	justify-content: space-between
	&__wrap
		width: 84.16vw
		height: 82vh
		display: flex
		flex-direction: column
		align-items: center	
		margin: 2.2vh	
	&__title
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		width: 64.79vw
		height: 6.7vh
		span
			// Style for "Уже предст"
			width: 24.35vw
			height: 2vh
			font-size: 0.93vw
			font-weight: 400		
		h2
			// Style for "Приходите"
			width: 64.79vw
			height: 3.14vh
			font-size: 2.03vw
			font-weight: 700
			text-transform: uppercase
	&__info
		height: 52.12vh
		width: 84.16vw
		display: flex
		align-items: center
		justify-content: space-between
		margin-top: 15vh
		&__map
			height: 50.16vh
			width: 35.41vw
			background-image: url("/chairs/app/img/Ukraine.png")
			background-position: center
			background-repeat: no-repeat
			background-size: 90%
		&__adress
			display: flex
			flex-direction: column
			justify-content: space-between
			align-content: space-between
			height: 25vh
			.contact__info
				display: flex
				flex-direction: column
				padding-left: 1.6vw
				.email
					width: 239px
					height: 22px
					color: #000000
					font-family: Geometria
					font-size: 23px
					font-weight: 700
			ul
				list-style: disc
			
			.adress
				font-size: 0.83vw
				font-weight: 600
				margin-bottom: 1vh
		&__form
			display: flex
			align-items: center
			justify-content: center
			width: 22.6vw
			height: 52.12vh
			background-color: #fbf0e1
			&__wrap
				display: flex
				flex-direction: column
				align-items: center
				justify-content: space-between
				height: 47.31vh
				width: 16.56vw
				.title
					width: 16.45vw
					height: 1.85vh
					font-size: 1.35vw
					font-weight: 700
					text-transform: uppercase
				p
					width: 15.26vw
					height: 3.51vh
					font-size: 0.88vw
					font-weight: 400
				.inputext
					span
						margin: 0
						padding: 0
					input
						border: none
						width: 18.38vw
						height: 4.81vh
						background-color: #ffffff
						font-size: 1.2vw
					textarea
						border: none
						width: 18.38vw
						height: 10.64vh
			
.footer
	width: 100%
	height: 14.35vh
	background-color: #000000
	&__upper
		display: flex
		justify-content: center
		width: 100%
		height: 7.21vh
		border-bottom: 2px solid white
		padding-top: 1vh
	&-logo
		height: 8.21vh
		width: 17vw
		color: #ffffff
		img
			height: 8.21vh
			width: 17vw

	&-bottom
		display: flex
		justify-content: center
		align-items: center
		width: 100%
		height: 3.65vw
		background-color: black
		p
			color: white
			font-size: 0.625vw
			

.vertical__line
	width: 1px
	height: 6.5vh
	border: 1px solid #1b1b1b
	margin-bottom: 2vh
                
.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%
.beige
	background-color: #faebd7
.white
	color: #ffffff
.text-center
	text-align: center
.btn1
	width: 9.63vw
	height: 4.8vh
	background-color: #000000
	color: #ffffff
	font-size: 0.8vw
	font-weight: 700
b, strong
	font-weight: bold



@import _media

+max-screen(1750px)
	.header__contact
		width: 25.85vw
		padding: 0
	.property__content
		flex-direction: column-reverse
		height: 93vh
	.property__content__chair
		width: 60vw
		background-position: 27% 50%
		.side.left
			width: 30vw
	.property__content__text
		margin: 2vw
		width: 85vw
		height: 15vh
	.property__title
		margin: 0
		h2
			margin: 0

		
	.property__vertical-line
		margin-bottom: 0.2vh
		
	.property__content__chair.truly
		background-size: 45%
	.property__content__chair.ergopro
		background-size: 45%
+max-screen(1550px)
	.property__content__chair.truly
		background-size: 40%
	.property__content__chair.ergopro
		background-size: 50%

