@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff
ul
	list-style-type: none

a
	

body
	font-size: 16px
	min-width: 320px
	position: relative
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
.main
	width: 100%
	height: 100vh
	background-image: url("/chairs/app/img/bg.jpg")
	background-repeat: no-repeat
	background-position: center
	background-size: cover
.between
	// Style for "Rectangle"
	width: 100%
	height: 391px
	background-image: url("/chairs/app/img/betweenbg.jpg")
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	.wrap
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center

.header
	width: 100%
	display: flex
	justify-content: center
	border-bottom: 1px solid #cdcdcc
	&__wrap
		display: flex
		width: 78.5vw
		justify-content: space-between
		align-context: center
		&__menu
			display: flex
			justify-content: space-between
			height: 6vh
			width: 60vw
			padding-top: 1vh
			align-items: center
			padding-top: 2.5vh
	&__menu
		display: flex
		justify-content: space-between
		align-self: center
		width: 26vw
		font-weight: 300
		text-transform: uppercase
		padding: 30px
		margin: 0
		&__item
			font-size: 0.9vw
			&__link
				color: $text
	&__contact
		display: flex
		width: 25.85vw
		height: 4.7vh
		margin: 0
		&__item
			display: flex
			justify-content: space-between
			align-items: center
			width: 11vw
			.icon
				display: flex
				padding: 15px 15px
				border: 1px solid #000000
				border-radius: 50px
				height: 44px
				width: 44px
				margin-right: 5px
			.contact
				width: 9.5vw	
				font-size: 0.93vw
				font-weight: 700


.property
	width: 100%
	height: 100vh
	padding: 2.2vh
	.wrap
		display: flex
		flex-direction: column
		align-items: center
		margin: 0 4.8vw
	&__vertical-line
		width: 1px
		height: 70px
		border: 1px solid #1b1b1b
		margin-bottom: 2vh
	&__title
		display: flex
		flex-direction: column
		align-items: center
		margin-bottom: 2vh
		span
			font-size: 1.6vh
			font-weight: 400
	&__content
		display: flex
		width: 90vw
		height: 72vh
		
		p
			width: 15vw
			height: 60vh
			font-size: 1.8vh
			font-weight: 400
			margin-right: 5vw
			color: #000000
			font-family: Geometria
			line-height: 1.1
		&__chair
			display: flex
			margin-right: 108px
			margin-top: 2vh
			background-image: url("/chairs/app/img/truly.png")
			background-repeat: no-repeat
			background-position: 40% 50%
			background-size: 40%
			width: 52vw
			height: 72vh
			.side
				display: flex
				flex-direction: column
				&.right
					width: 28vw
					height: 72vh		
				&.left
					width: 24vw
					height: 72vh
					margin-top: 2vh
				.price
					// Style for "10 500 грн"
					width: 204px
					height: 36px
					color: #20418c
					font-family: Geometria
					font-size: 39px
					font-weight: 500
					line-height: 50.9px
			&__item
				display: flex
				align-items: center
				height: 17.2vh
				&.right
					flex-direction: row-reverse
					width: 26vw	
				&--left
					width: 26vw
				.square
					// Style for "Rectangle"
					width: 7px
					height: 7px
					background-color: #000000
				.description
					display: flex
					flex-direction: column
					width: 13vw
					height: 7.3vh
					h3
						width: 13vw
						line-height: 1
						font-size: 18px
						font-weight: 700
						text-transform: uppercase
					p										// Style for "Подголовни"
						// Style for "благодаря"
						width: 13vw
						height: 35px
						font-weight: 400
						margin: 0
				hr
					margin: 0
			
		
				
		&__galery
			display: flex
			flex-direction: column
			width: 15.5vw
			height: 66.6vh
			justify-content: space-between
			&__item
				display: flex
				align-items: center
				justify-content: center
				width: 15.5vw
				height: 21.6vh
				border: 1px solid #626262
				
.description
	display: flex
	flex-direction: column
	justify-content: center
	height: 2vh
	width: 1vh
.circle
	display: flex
	justify-content: center
	align-items: center
	border: 2px solid #ffffff
	&--large
		border-radius: 50%
		position: relative
		height: 50px
		width: 50px
	&--small
		border-radius: 50%
		position: absolute
		height: 30px
		width: 30px
	&--solid
		background-color: #ffffff
		border-radius: 50%
		height: 10px
		width: 10px

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%
.beige
	background-color: #faebd7
.white
	color: #ffffff
.text-center
	text-align: center

b, strong
	font-weight: bold



@import "media" // Always at the end
