@font-face {
  font-family: "roboto-example";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-example";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
}

::-webkit-input-placeholder {
  color: #666;
}

:-ms-input-placeholder {
  color: #666;
}

::-ms-input-placeholder {
  color: #666;
}

::placeholder {
  color: #666;
}

::-moz-selection {
  background-color: #ff8b38;
  color: #fff;
}

::selection {
  background-color: #ff8b38;
  color: #fff;
}

body {
  margin: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-responsive.img-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

b, strong {
  font-weight: bold;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 8.8vh;
  background-color: #000000;
}

.navbar__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8.8vh;
  width: 82vw;
  margin: 0 10vw 0 10vw;
}

.navbar__logo {
  width: 5.6vw;
  height: 27px;
  background-repeat: no-repeat;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 37.6vw;
}

.navbar__menu__item {
  margin-left: 3.1vw;
}

.navbar__menu__item--last {
  margin-right: 0;
}

.navbar__menu__item__link {
  color: #ffffff;
}

.navbar li {
  list-style: none;
}

.main {
  width: 100%;
  height: 78.36vh;
  background-image: url("/axit/img/main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 49vh;
  width: 82vw;
  margin: 13.2vh 10vw 0 10vw;
}

.main__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 36.5vw;
  height: 49vh;
}

.main__text__logo {
  height: 7vh;
  width: 12.5vw;
}

.main__text h1 {
  margin-top: 4vh;
  height: 8.5vh;
  color: #ffffff;
  font-family: Raleway;
  font-size: 4.4vh;
  font-weight: 400;
  text-transform: uppercase;
}

.main__text .line {
  margin-top: 5vh;
}

.main__text p {
  margin-top: 5vh;
  width: 33vw;
  height: 7.4vh;
  opacity: 0.52;
  color: #ffffff;
  font-family: Raleway;
  font-size: 1.95vh;
  font-weight: 300;
  line-height: 23px;
}

.main__text button {
  margin-top: 5.8vh;
}

.main__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 44vh;
  width: 25vw;
  background-color: #ffffff;
  z-index: 10;
}

.main__form__title {
  height: 6.6vh;
  width: 25vw;
  background-color: #f5f5f5;
  text-align: center;
}

.main__form__title__text {
  color: #333333;
  font-family: "Open Sans";
  font-size: 2.4vh;
  font-weight: 700;
  margin-top: 2.2vh;
  padding: 0;
}

.main__form__inputblock {
  height: 10.60vh;
  width: 25vw;
  padding: 0;
}

.main__form__inputblock input {
  width: 19vw;
  border: none;
  color: #bdbdbd;
  font-weight: 400;
  font-size: 2vh;
  border-bottom: 1px solid #bdbdbd;
  margin: 2.32vh 2.5vw 0 3vw;
  padding: 1.3vh 0 1.1vh 1vw;
}

.main__form button {
  background-color: #ff8b38;
  border: none;
  color: #ffffff;
  height: 6.6vh;
  width: 25vw;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.6vh 0;
}

.social__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8.8vh;
  width: 82vw;
  margin: 0 10vw 0 10vw;
}

.social__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25.7vw;
}

.social__text__title {
  width: 9vw;
  font-family: "Open Sans";
  font-size: 2.44vh;
  font-weight: 700;
  margin-bottom: 1.25vh;
}

.social__text__offers {
  width: 20vw;
  height: 3.9vh;
  color: #86878b;
  font-family: "Open Sans";
  font-size: 1.7vh;
  font-weight: 400;
  line-height: 2.44vh;
}

.social__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45vw;
  height: 5.86vh;
  color: #cccccc;
  font-size: 5.86vh;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
}

.features__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 58.4vh;
  width: 82vw;
  margin: 0 10vw 0 10vw;
}

.features__explane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__explane__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 48vh;
  margin-right: 7.14vw;
}

.features__explane__tabs__tab {
  height: 18.8vh;
  width: 8vw;
  background-color: #333333;
  border: 1px solid #cccccc;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.25vh;
  text-align: center;
  padding: 7.5vh 0;
}

.features__explane__tabs__tab:hover {
  cursor: pointer;
  background-color: #ff8b38;
}

.features__explane__tabs__tab.active {
  background-color: #ff8b38;
}

.features__explane__text {
  margin-right: 7.14vw;
}

.features__explane__text__title {
  width: 24.60vw;
  height: 3.52vh;
  color: #000000;
  font-family: "Open Sans";
  font-size: 3.36vh;
  font-weight: 700;
  margin-bottom: 8.73vh;
}

.features__explane__text__content {
  width: 34vw;
  height: 22.17vh;
  color: #86878b;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.features__explane__text button {
  margin-top: 8.73vh;
  width: 8.64vw;
  height: 7.72vh;
  color: #ffffff;
  font-family: "Open Sans - Semibold";
  font-size: 15px;
  font-weight: 400;
  border: none;
}

.features__explane__text section {
  display: none;
}

.features__explane__text section p {
  margin: 1.5vh;
}

.features__explane__text input {
  display: none;
}

.features__explane__text #tab1:checked ~ #content1,
.features__explane__text #tab2:checked ~ #content2,
.features__explane__text #tab3:checked ~ #content3,
.features__explane__text #tab4:checked ~ #content4 {
  display: block;
}

.section {
  width: 100%;
  height: 100vh;
  padding-top: 18vh;
}

.section__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 63vh;
  width: 79.2vw;
  margin: 0 8.85vw;
}

.section__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 31vw;
}

.section__text__title {
  color: #212121;
  font-family: "Open Sans";
  font-size: 3.35vh;
  font-weight: 700;
  margin-bottom: 2vh;
}

.section__text__paragraph {
  margin-top: 2vh;
  color: #86878b;
  font-family: "Open Sans";
  font-size: 2.3vh;
  font-weight: 400;
  line-height: 3vh;
  margin-bottom: 7.7vh;
}

.section__text__paragraph p {
  margin-top: 4vh;
}

.section__text__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7vh;
}

.section__text__offer .circle {
  margin-right: 2.2vw;
}

.section__text__offer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25.7vw;
}

.section__text__offer__title {
  color: #212121;
  font-family: "Open Sans - Semibold";
  font-size: 2.3vh;
  font-weight: 400;
  margin-bottom: 0.85vh;
}

.section__text__offer__text {
  color: #86878b;
  font-family: "Open Sans";
  font-size: 2.3vh;
  font-weight: 400;
  line-height: 3vh;
}

.section--process {
  width: 100%;
  height: 82vh;
  padding-top: 18vh;
}

.section--sublistRight {
  width: 100%;
  height: 62vh;
  padding-top: 18vh;
}

.section--sublistLeft {
  width: 100%;
  height: 82vh;
  padding-top: 18vh;
}

.section--pricing {
  width: 100%;
  height: 110vh;
  padding-top: 18vh;
}

.section--employes {
  width: 100%;
  height: 119vh;
  padding-top: 5vh;
}

.section--contact {
  width: 100%;
  height: 100vh;
  padding-top: 15vh;
}

.process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 63.5vh;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.process__title {
  color: #212121;
  font-family: Raleway;
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  text-transform: uppercase;
}

.process .line {
  margin: 4vh 0;
}

.process__text {
  color: #86878b;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}

.process__explane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 33vh;
  width: 79.5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 14vh;
}

.process__explane__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23vw;
  margin-right: 2.28vw;
}

.process__explane__block:last-child {
  margin-right: 0;
}

.process__explane__block .circle {
  width: 70px;
  height: 70px;
}

.process__explane__block__title {
  color: #333333;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  margin: 25px;
}

.process__explane__block__offer {
  width: 23vw;
  height: 8.7vh;
  color: #86878b;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing .wrap {
  height: 100vh;
}

.pricing__title {
  color: #212121;
  font-family: Raleway;
  font-size: 4vh;
  font-weight: 400;
  text-transform: uppercase;
}

.pricing .line {
  margin: 4vh 0;
}

.pricing__text {
  color: #86878b;
  font-family: "Open Sans";
  font-size: 1.6vh;
  font-weight: 400;
}

.pricing__explane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36vh;
  width: 79.5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 32vh;
}

.pricing__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23vw;
  margin-right: 2.5vw;
}

.pricing__block:last-child {
  margin-right: 0;
}

.pricing__block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 23vw;
  height: 59px;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333333;
  text-transform: uppercase;
  border-bottom: 1px solid #ffffff;
  font-family: "Open Sans";
  font-size: 2vh;
  font-weight: 700;
}

.pricing__block__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23vw;
  height: 100px;
  background-color: #333333;
  color: #ffffff;
  font-family: Raleway;
  font-size: 10vh;
  font-weight: 700;
}

.pricing__block__price span {
  font-size: 35px;
}

.pricing__block__period {
  width: 23vw;
  height: 51px;
  background-color: #333333;
  color: #808080;
  text-align: center;
  font-family: "Open Sans - Semibold";
  font-size: 1.5vh;
  font-weight: 400;
  font-style: italic;
}

.pricing__block__suggestion {
  width: 23vw;
  height: 5px;
  background-color: #ff8b38;
}

.pricing__block__suggestion--popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 23vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.5vh;
  background-color: #ff8b38;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 1.6vh;
  font-weight: 700;
  text-transform: uppercase;
}

.pricing__block__offers ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23vw;
  height: 4.5vh;
  background-color: #ffffff;
  color: #86878b;
  font-family: "Open Sans";
  font-size: 1.6vh;
  font-weight: 400;
  text-transform: uppercase;
}

.employes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.employes .wrap {
  height: 100vh;
}

.employes__title {
  color: #212121;
  font-family: Raleway;
  font-size: 4vh;
  font-weight: 400;
  text-transform: uppercase;
}

.employes .line {
  margin: 4vh 0;
}

.employes__text {
  color: #86878b;
  font-family: "Open Sans";
  font-size: 2vh;
  font-weight: 400;
}

.employes__explane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36vh;
  width: 79.5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 6.1vh;
}

.employes__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 19.5vw;
  margin-right: 2.5vw;
}

.employes__block:last-child {
  margin-right: 0;
}

.employes__block__comment {
  height: 14vh;
  width: 19.5vw;
  color: #86878b;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  background-color: #f5f5f5;
  margin-bottom: 2.4vh;
  padding: 1vh 0 2vh 0;
  position: relative;
}

.employes__block__comment p {
  height: 14vh;
  width: 17vw;
  margin: 2.2vh 1vw;
}

.employes__block__comment:after {
  content: '';
  position: absolute;
  left: 20px;
  bottom: -20px;
  border: 10px solid transparent;
  border-top: 10px solid  #f5f5f5;
}

.employes__block__comment:before {
  content: "";
  content-position: absolute;
  content-left: 20px;
  bottom: -20px;
  bottom-border: 10px solid transparent;
  bottom-border-top: 10px solid  #f5f5f5;
}

.employes__block__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.employes__block__person__img {
  margin-right: 1.1vw;
}

.employes__block__person__data {
  display: block;
  height: 4.3vh;
}

.employes__block__person__data__name {
  color: #333333;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0.9vh;
}

.employes__block__person__data__position {
  color: #86878b;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}

.img__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 35vh;
  padding-top: 8.1vh;
  background-image: url(/img/u25.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img__footer .employes__title {
  color: #ffffff;
}

.img__footer .employes__text {
  opacity: 0.8;
  color: #ffffff;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 300;
}

.img__footer .line {
  margin: 2.75vh 0;
}

.img__footer .btn--ghost {
  margin: 5.27vh 0;
}

.contact_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15vh;
  width: 82vw;
  height: 28.42vh;
}

.contact_form__personal_data {
  height: 19.42vh;
}

.contact_form__personal_data .main__form__inputblock {
  width: 35vw;
  margin-right: 0;
}

.contact_form__personal_data .main__form__inputblock input {
  width: 35vw;
}

.contact_form__text_message {
  height: 30vh;
}

.contact_form__text_message textarea {
  margin-top: 3vh;
  height: 26vh;
  width: 31vw;
  font-size: 2.5vh;
}

#contact .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15vh;
}

#contact .line {
  margin: 4.3vh 0;
}

#contact .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 11.71vh;
  background-color: #000000;
}

#contact .footer .social__icons {
  width: 22.64vw;
}

#contact .footer .social__icons .social__icons-google {
  color: #cccccc;
  font-family: "Font Awesome";
  font-size: 3.4vh;
  margin-right: 0;
  font-weight: 400;
}

#contact .footer .copyright {
  width: 9vw;
  height: 1.3vh;
  opacity: 0.5;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
}

#contact button {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.btn--ghost {
  width: 9.6vw;
  height: 5.1vh;
  display: inline-block;
  padding: 0.97vh 0.57vw;
  color: #ffffff;
  background: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.btn--orange {
  width: 9.6vw;
  height: 5.1vh;
  background-color: #ff8b38;
  color: #ffffff;
  padding: 0.97vh 0.57vw;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.download__icon {
  color: #ff8b38;
  font-size: 2.3vh;
}

.circle__icon {
  color: #ff8b38;
  font-size: 4.6vh;
}

.circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  border: 2px solid #ff8b38;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background--orange {
  background-color: #ff8b38;
}

.background--grey {
  background-color: #f5f5f5;
}

.background--white {
  background-color: #ffffff;
}

.orange {
  color: #ff8b38;
}

.white {
  background-color: #ffffff;
}

.line {
  width: 5vw;
  height: 0.3vh;
}

.wrap {
  width: 82vw;
  margin: 0 13vh;
}

.wrap--pricing {
  height: 100vh;
  width: 82vw;
  margin: 0 13vh;
}

.jcontent_space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.alitem__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */